*{
    padding: 0%;
    margin: 0%;
}
/*
 index page

*/
.div1{
    width: 100%;
    height: 200px;
    top: 0%;
}

.div1h{
    width: 100%;
    height: 150px;
    background: rgb(168, 152, 152);
    background-image: url(../img/banner.jpg);
    background-position: top center;
    background-size: cover;
    text-align: center;
}
.div1h h1{
    padding: auto;
}
.div2h{
    width: 100%;
    height: 50px;
    background: rgb(143, 208, 221);
    text-align: center;
    display: inline-block;
}
div ul li{
    font-size: 25px;
    list-style: none;
    display:inline;
    margin-left:15px;
    padding:5px;
}
.div2{
    width: 100%;
    height: 660px;
    top: 200px;
    margin: auto;
    background-color: rgb(78, 34, 34);
    border-radius: 3px;
}

.div2l{
    width: 30%;
    height: 660px;
    position:absolute;
    float:left;
    background-color: rgb(214, 226, 229);
}
.div2m{
    width: 40%;
    height: 660px;
    left: 30%;
    position: absolute;
    background-color: rgb(212, 187, 212);
}
.div2r{
    width: 30%;
    height: 660px;
    position:absolute;
    right: 0%;
    background-color: rgb(214, 226, 229);
}

.div2m1{
    position: top;
    width: 100%;
    height: 60px;
    background-color: rgb(114, 104, 104);
}
.div2m2{
    top: 60px;
    height: 300px;
    width: 50%;
    left: 0%;
    background-color:rgb(43, 136, 108);
    position:absolute;
}
.div2m3{
    top: 60px;
    height: 300px;
    width: 50%;
    right: 0%;
    background-color:rgb(82, 124, 112); 
    position:absolute;
}
.div2m4{
    top: 360px;
    height: 300px;
    width: 50%;
    left: 0%;
    background-color: rgb(137, 149, 145);
    position:absolute;
}
.div2m5{
    top: 360px;
    height: 300px;
    width: 50%;
    right: 0%;
    background-color: rgb(38, 51, 47);
    position:absolute;
}

.div3{
    width: 100%;
    height: 100px;
    top: 860px;
    margin: auto;
    background-color: rgb(211, 175, 175);
    border-radius: 3px;
}

/* 
    sign up start
*/
.div2sigup{
    background-color: rgb(205, 198, 198);
}
.singup_box{
    width: 350px;
    height: 950px;
    margin: auto;
    background-color: white;
    border-radius: 3px;
}
form{
    width: 300px;
    margin-left: 20px;
}
h1{
    text-align: center;
    padding-top: 15px;
}
.label1{
    display: flex;
    margin-top: 18px;
    font-size: 18px;
}
.inputc{
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
}
input[type="button"]{
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: rgb(104, 191, 213);
    color:white;
    font-size: 25px;
}

/* 
    sign in
*/

.singin_box{
    width: 350px;
    height: 400px;
    margin: auto;
    background-color: white;
    border-radius: 3px;
}